
<% content_for :head do %>
    <title><%=meta_title%></title>
    <meta name='description' content='<%= @meta_description || DEFAULT_META["meta_description"]%>'/>
    <meta name='keywords' content='<%= @keywords || DEFAULT_META["meta_keywords"]%>'>
    <!-- FB open graph -->
    <meta property='og_title' content='<%=@meta_title ||  DEFAULT_META["meta_title"]%>'/>
    <meta property='og_type' content='<%=meta_og_type ||  DEFAULT_META["meta_og_type"]%>'/>
    <meta property='og_url' content='<%=request.original_url%>'/>
    <meta property='og_image' content='<%=@meta_image ||  DEFAULT_META["meta_image"]%>'/>
    <meta property='og:description' content='<%= @meta_description ||  DEFAULT_META["meta_description"]%>'/>
    <meta property='og:site_name' content='<%=@meta_title ||  DEFAULT_META["meta_title"]%>'/>
    <!-- Twitter Card data-->
    <meta property='twitter:card' content='summary_large_image'/>
    <meta property='twitter:site' content='<%=DEFAULT_META["meta_twitter_account"]%>'/>
    <meta property='twitter:title' content='<%=@meta_title ||  DEFAULT_META["meta_title"]%>'/>
    <meta property='twitter:description' content='<%= @meta_description ||  DEFAULT_META["meta_description"]%>'/>
    <meta property='twitter:creator' content='<%=DEFAULT_META["meta_twitter_account"]%>'/>
    <meta property='twitter:image' content='<%=root_url%><%=@meta_image ||DEFAULT_META["meta_image"]%>'/>
<% end %>